@import './variable.scss';
@import './reset.scss';
@import './font-graphik-wide.scss';
@import './font-graphik.scss';

:global{
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    font-family: "Graphik", sans-serif;
    overflow-x: hidden;
  }
  .textCenter {
    text-align: center;
  }
  .textWhite {
    color: #fff;
  }
  .textPrimary {
    color: $brand-primary;
  }
  .iconMd {
    font-size: 36px;
  }
  .iconDirectionScroll {
    color:rgba(255, 255, 255, 0.57);
    @media (max-width: $screen-mobile-max) {
      display: none !important;
    }
  }
  .hideMobile {
    @media (max-width: $screen-mobile-max) {
      display: none !important;
    }
  }
  a {
    color: $brand-primary;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
}
