//main
@import './global.scss';

@mixin container-primary {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 2880px;
  width: 100%;
  @media (max-width: 1200px) {
    width: 100%;
    max-width: 100%;
    padding-left: $padding-lr-container-sm;
    padding-right: $padding-lr-container-sm;
  }
}

body {
}

.pageWrapper {
}

.header {
  .logo {
  }

  .menu {
    .item {

    }
  }
}

.footer {
}

.pageContent {
}

.heading {

}

.wayToTrade {
  .items {
    .item {
      .itemOuter {
        .itemTitle {

        }

        .itemDescription {

        }
      }
    }
  }
}

.plugin {
  .items {
    .item {
      .itemOuter {
        .itemTitle {

        }

        .itemDescription {

        }

        .itemLink {

        }
      }
    }
  }
}

.joinAndShape {
  .items {
    .item {
      .itemOuter {
        .itemTitle {

        }

        .itemDescription {

        }

        .itemLink {

        }
      }
    }
  }
}


