$grid-point: 8px;
$screen-desktop-min: 1200px;
$screen-tablet-min: 768px;
$screen-tablet-max: 991px;
$screen-mobile-max: 767px;
$screen-mobile-vertical: 479px;
$gray-light: #C8C8C8;
$nav-bg: $gray-light;
$height-header: 60px;
$header-color: #6c6c70;
$padding-lr-container: 50px;
$padding-lr-container-sm: 16px;
$brand-primary: #497BF8;
$page-bg-color: #ffffff;
$text-color-gray: #6c6c70;
$text-color-white: #ffffff;

